.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    ::placeholder {
        color: #fff;
        opacity: 0.6;
    }

    &__form {
        width: 90%;
        max-width: 500px;
    }

    &__content {
        width: 100%;
        height: 500px;
        padding: 10%;
        display: flex;
        flex-direction: column;

        border: 1px solid #fff;
        box-shadow: 0px 0px 4px 0px #fff;
        background-color: rgba(0, 29, 89, 0.9);
        color: #fff;
    }

    &__header {
        margin-bottom: 5%;
    }

    &__title {
        font-size: 2em;
        margin: 0;
        font-weight: 600;
    }

    &__subtitle {
        font-size: 1em;
        margin-top: 10px;
        font-weight: 100;
    }

    &__input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    &__label {
        margin-left: 0;
        text-align: start;
    }

    &__input {
        background-color: #001d59;
        border: 2px solid #fff;
        border-radius: 5px;
        color: #fff;

        height: 60px;
        font-size: 1.5em;
        padding-left: 10px;
    }

    &__input:focus {
        outline-style: none;
        border-color: #44ffe4;
    }

    &__forgot-password {
        color: #fff;
        font-size: 0.8em;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    &__forgot-password:hover {
        color: #44ffe4;
    }

    &__submit-button {
        margin: auto;
        margin-top: 20px;
        height: 45px;
        width: 100%;

        border-radius: 5px;
        border: none;
        font-size: 1.2em;
        border: 1px solid #fff;
        color: #fff;
        background-color: #072e59;
    }

    &__submit-button:hover {
        border-color: #44ffe4;
        cursor: pointer;
    }

    &__submit-button:active {
        border: 1px solid #fff;
    }

    .error-input {
        border-color: red;
    }

    .error {
        color: red;
        font-size: 1em;
    }

    @media (max-width: 768px) {
        .login {
            padding: 20px;
        }

        .login__form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login__content {
            display: flex;
            justify-content: center;
        }
    }
}