@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;

    background-image: url('/assets/bg_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}